node_modules
config.json
config.properties
success-processor.zip
failure-processor.zip
target/**
.DS_Store
openidl-etl-input-processor/input-processor.zip
openidl-etl-staging-processor/Example-sources.zip
openidl-etl-staging-processor/generated-sources/OpenidlAutoPolicyRecord-sources.zip
openidl-etl-staging-processor/openidl-data-etl-master.zip
openidl-etl-staging-processor/src/main/resources/aaisBusinessownersReferenceData.csv
openidl-etl-staging-processor/src/main/resources/aaisCommercialPropertiesReferenceData.csv
openidl-etl-staging-processor/src/main/resources/aaisHomeownersReferenceData.csv
openidl-etl-staging-processor/src/main/resources/aaisInlandMarineReferenceData.csv
openidl-etl-tester/test/Data_Input_v1.1.xlsx
openidl-etl-success-processor/config/config copy.json
openidl-etl-tester/test/idmLossRecords.json
openidl-etl-tester/test/idmPremiumRecords.json
openidl-etl-intake-processor/intake-processor.zip
openidl-etl-intake-processor/test/testS3Event.json
